/* =============
    Section 1
============= */
#section-1{

    background-color: #003049;
    min-height: 100vh;

    .container-grid-item{

        .box{
            width: 300px;
            height: 300px;
            // margin: 0 auto;
            margin-bottom: 30vh;
            display: grid;
            place-items: center;
            color: $white;
            font-size: rem-calc(50);
        }
        #red-box{
            background-color: #d62828;
        }

        #orange-box{
            background-color: #f77f00;
        }

        #yellow-box{
            background-color: #fcbf49;
        }
    }

}
